.footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
/*
   position: absolute;
  bottom: 0;
*/
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color:cornflowerblue;
    text-shadow:1px 1px 1px #555;
}

.footer-logo a {
  text-decoration: none;
  color: white;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  margin-right: 2em;
    font-size:1.2em;
    color:white;
}

.footer-links li {
  padding: 0px 1em 0px 1em;
}

.footer-links li a {
  text-decoration: none;
  color: white;
}

.footer-links li a:hover {
  text-decoration: underline;
}
