.footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* position: absolute;
  bottom: 0; */
  width: 100%;
  border-top: 1px solid black;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-logo a {
  text-decoration: none;
  color: black;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  margin-right: 2em;
}

.footer-links li {
  padding: 0px 1em 0px 1em;
}

.footer-links li a {
  text-decoration: none;
  color: black;
}

.footer-links li a:hover {
  text-decoration: underline;
}