.landingpage-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.about-section, .how-to-section, .click-here-section {
    height: 300px;
    display: flex;
    border-bottom: 1px solid black;
}

.about-section h2, .how-to-section h2, .click-here-resources h3, .click-here-need-help h3 {
    margin: 0 auto;
}

.about-section, .how-to-section {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.about-section span, .how-to-section span {
    width: 800px;
    margin: 50px auto 50px auto;
}

.click-here-section {
    border-bottom: 0px;
}

.click-here-resources, .click-here-need-help {
    padding-top: 30px;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.click-here-resources {
    border-right: 1px solid black;
}

.click-here-resources a, .click-here-need-help  a {
    text-decoration: none;
    color: black;
    padding: 20px;
    border: 1px solid black;
    width: 100px;
    margin: 30px auto 0 auto;
}