.navbar-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height:5em;
    border-bottom: 1px solid black;
    background-color:cornflowerblue;

}

.logo {
    margin-top: auto;
    margin-bottom: auto;
    padding: .5em;
}

.logo a {
    text-decoration: none;
    color: white;
}

.logo a:hover {
    /* text-decoration: underline; */
}

.links {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-right: 2em;
    margin-top:auto;
    margin-bottom:auto;

}

.links li {
    padding: 1em;
    margin: auto;
}

.links li a {
    text-decoration: none;
    color: white;
}

.links li a:hover {
    text-decoration: underline;
}
