.resource-container {
    display: flex;
    border-bottom: 3px solid #555;
    padding-bottom: 25px;
}
h1 {
    color: #555;
    text-shadow:1px 1px 1px black;
}
h2 {
    text-shadow:1px 1px 1px black;
}

.resource-item {
    flex-basis: 22%;
    display: flex;
    flex-direction: column;
    list-style: none;
    box-sizing: border-box;
    margin: 1.5%;
    padding:12px;;
    border: 2px solid #555;
    box-shadow: 10px 10px 28px -7px #555;
    height:600px;
}

.resource-item img {
    height:60%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.resource-title {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}

.resource-title h2 {
    color: #555;
    font-weight: bold;
    margin-bottom: 20px;
}

.resource-details {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.resource-details span, .resource-details ul {
    color: #555;
    font-size: 0.8rem;
    font-weight: bold;
    list-style: none;
    align-items: flex-start;

}


